.main-image{
    border-radius: 5px;
}

.welcome {
    background-color: $secondary-color;
    padding: 50px;
    border-radius: 5px;
    opacity: 0.8;
}

.btn-container{
    margin: 20px;
}

.all-listings {
    background-color: $second-background-color;
    padding: 10px;
    border-radius: 3px;
}

.divider {
    border-top: 3px solid $primary;
    border-radius: 5px;
    margin: 20px;
}

.card {
    border-radius: 40px 2px 2px 2px;  
}

.card-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 40px 0;
  }