main {
    background-color: $second-background-color;
    
}

#item-details img {
    border-radius: 5px 5px 0 0;
}

#item-details {
    margin-top: 20px;
    background-color: $background-color;
    border-radius: 5px; 
}

.single-auction-body {
    padding: 10px;
    background-color: $background-color;
    color: $primary;
}

